*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  background-color: rgb(41, 39, 39);
  /* Hides scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}
/* Hides scrollbar */
html::-webkit-scrollbar{
  display: none;
}

/* Navigation Bar CSS */
nav {
  position: fixed;
  background-color: navy;
  width: 100%;
  height: 80px;
}
.name {
  display: inline-block;
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
}
nav ul{
  float:right;
  margin-right: 100px;
  list-style: none;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li button{
  font-size: 17px;
  padding: 7px 13px;
}
#current {
  color: white;
}
button{
  text-decoration: none; 
  background: none;
  border: none;
  cursor: pointer;
}
.button-link {
  color: gray;
  position: relative;
}
/* White underline */
.button-link::after {
  content: ''; /* Required for pseudo-elements */
  position: absolute; /* Position relative to button link */
  left: 0; /* Align underline to start of button link */
  bottom: -10px; /* Position the underline below the text */
  width: 100%; /* Full width */
  height: 3px; /* Thickness of the underline */
  border-radius: 5px;
  background-color: transparent; /* Initially transparent */
  transition: background-color 0.3s ease; /* Smooth transition for color change */
} 
/* Change color on hover */
.button-link:hover::after {
  background-color: white; /* Color of the underline on hover */
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

/* Main Content */
.icon{
  font-size: 250%;
  margin: 0%;
  color: white;
}
body {
  margin: 0%;
  font-family: Arial; /*change font*/
}
.content {
  padding-top: 100px;
  min-height:100vh;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5%;
  flex-flow: row wrap;
}
.flex-container > div{
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 1%;
  margin-top: 0%;
  margin-bottom: 0%;
}
.image-div{
  background-color: white;
}
.image{
  width: 100%; 
  height: auto;
}
.p-text{
  text-align: left;
}
p {
  color: white;
  font-size: 20px;
}
.list-item{
  color: white;
  font-size: 20px;
  text-align: left;
}
a.text-link {
  text-decoration: none;
  color: lightblue;
}
a.text-link:hover {
  text-decoration: underline;
}

h2 { 
  display: flex; 
  flex-direction: row; 
  color: gray;
} 

h2:before, 
h2:after { 
    content: "";
    flex: 1 1; 
    border-bottom: 4px solid gray; 
    margin: auto; 
} 

/* Footer CSS */
footer {
  background-color: navy;
  margin: 0%;
  bottom: 0;
}

/* Responsive Webpage CSS */
@media (max-width: 1000px){
  .name {
    font-size: 15px;
    padding-left: 50px;
  }
  nav ul li{
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn{
    display: block;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: navy;
    top: 80px;
    /* left: -40%; */
    /* left: 0; */
    transform: translateX(-100%);
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }
  #check:checked ~ ul{
    /* left: 0; */
    transform: translateX(0%);
  }
  .flex-container >div{
    flex: 1 100%;
  }
  .main-text{
    flex: 3;
    order: 2;
  }
  .image-div{
    order: 1;
    background-color: transparent; /*problems if color, try to fix*/
  }
  .image{
    object-fit: contain;
    width: 50%;
  }
}